<div ng-include="'./partials/other/navbars/nav-single-guide.html'"></div>


<div class="scrollable">  
  <div class="scrollable-content">
    <div class="container-fluid section section-break guide-page">
        <div class="row" style="margin-top:-10px">
            <div class="guide-header col-md-12" style="background-image:url('./img/guides/chains.jpg')">
              <div class="guide-header-wrapper">
                <div class="guide-text-wrapper">
                    <div class="guide-name" id="anchor_top">
                        <span class="icon icon-chains"></span> Цепочки превращений
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="thumbnail">
                <div class>
                    <div class="list-group">
                      <a ng-click="gotoAnchor('1')" class="list-group-item">
                        <i class="fa fa-file-text-o"></i> Что делает "Решение цепочек"?
                      </a>
                      <a ng-click="gotoAnchor('2')" class="list-group-item">
                        <i class="fa fa-file-text-o"></i> Как ввести цепочку для решения?
                      </a>
                    </div>
                </div>
                <div class="guide-page-fulltext">
                    <div class="guide-page-section" id="anchor_1">
                        <h2>Что делает "Решение цепочек"?</h2>
                        <div>
                          <p>Есть цепочка, но нет идей по поводу того, как ее решить? Функция "Решение цепочек" найдет подходящие для цепочки реакции, напишет все в том виде, в котором нужно переписывать в тетрадь, даже выведет условия протекания и элетронный баланс.</p>
                        </div>
                    </div>
                    <div class="guide-page-section" id="anchor_2">
                        <h2>Как ввести цепочку для решения?</h2>
                        <div>
                          <p>Функция понимает формулы веществ (например, H2O, но не "вода") и знак <strong>"="</strong>, пробелы не важны: их можно ставить, можно и не ставить.</p>
                          <p>Можно ввести вещества из левой части реакции, разделив их знаком "+" (например: <strong>"Cu = CuO = CuCl2 = Cu(OH)2"</strong>)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

</div>