<div ng-include="'./partials/other/navbars/nav-single-guide.html'"></div>


<div class="scrollable">  
  <div class="scrollable-content">
    <div class="container-fluid section section-break guide-page">
        <div class="row" style="margin-top:-10px">
            <div class="guide-header col-md-12" style="background-image:url('./img/guides/coef.jpg')">
              <div class="guide-header-wrapper">
                <div class="guide-text-wrapper">
                    <div class="guide-name" id="anchor_top">
                        <span class="icon icon-coef"></span> Расстановка коэффициентов
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="thumbnail">
                <div class>
                    <div class="list-group">
                      <a ng-click="gotoAnchor('1')" class="list-group-item">
                        <i class="fa fa-file-text-o"></i> Зачем нужна расстановка коэффициентов?
                      </a>
                      <a ng-click="gotoAnchor('2')" class="list-group-item">
                        <i class="fa fa-file-text-o"></i> Как пользоваться расстановкой коэффициентов?
                      </a>
                    </div>
                </div>
                <div class="guide-page-fulltext">
                    <div class="guide-page-section" id="anchor_1">
                        <h2>Зачем нужна расстановка коэффициентов?</h2>
                        <div>
                          <p>Эта функция сможет уравнять реакцию за тебя, то есть расставить недостающие коэффициенты. Кстати, работает расстановка коэффициентов без интернета и умеет расставлять их методом электронного баланса, расписывая степени окисления, восстановитель и окислитель</p>
                        </div>
                    </div>
                    <div class="guide-page-section" id="anchor_2">
                        <h2>Как пользоваться расстановкой коэффициентов?</h2>
                        <div>
                          <p>Функция понимает формулы веществ (например, <strong>H2O</strong>, но не "вода" и не "h2o"), знаки <strong>"+"</strong> и <strong>"="</strong>, пробелы не важны: их можно ставить, можно и не ставить.</p>
                          <p>Пример правильно введенной реакции для расстановки коэффициентов: <strong>P + O2 = P2O5</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

</div>