<div ng-include="'./partials/other/navbars/nav-single-guide.html'"></div>

<div class="scrollable">  
  <div class="scrollable-content">
    <div class="container-fluid section section-break guide-page">
        <div class="row" style="margin-top:-10px">
            <div class="guide-header col-md-12" style="background-image:url('./img/protect/teacher.jpg')">
              <div class="guide-header-wrapper">
                <div class="guide-text-wrapper">
                    <div class="guide-name" id="anchor_top">
                        <span class="icon icon-skull"></span> Защита от учителя
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="thumbnail">
                <div class>
                    <div class="list-group">
                      <a ng-click="gotoAnchor('1')" class="list-group-item">
                        <i class="fa fa-file-text-o"></i> Зачем нужна защита от учителя?
                      </a>
                      <a ng-click="gotoAnchor('2')" class="list-group-item">
                        <i class="fa fa-file-text-o"></i> Как пользоваться защитой от учителя
                      </a>
                      <a ng-click="gotoAnchor('3')" class="list-group-item">
                        <i class="fa fa-file-text-o"></i> Как отключить защиту от учителя
                      </a>
                    </div>
                </div>
                <div class="guide-page-fulltext" id="anchor_1">
                    <div class="guide-page-section">
                        <h2>Зачем нужна защита от учителя?</h2>
                        <div>
                          <p>Многие из нас не раз попадали в ситуацию, когда во время контрольной работы учитель замечал, как мы пользуемся телефоном. Как максимально быстро и без подозрений со стороны преподавателя выйти из этой неприятной ситуации? Обычной блокировки экрана и попытки спрятать телефон в карман будет мало - учитель точно что-то заподозрит. Именно поэтому для Вас мы разбработали функцию "Защита от учителя", которая позволит легким движением сменить интерфейс приложения на <strong>Часы</strong> или <strong>Звонок от мамы</strong>.
                          <img src="./img/protect/payable/android/splash.jpg">
                          </p>
                          <p>Когда учитель подойдет, чтобы сделать замечание и забрать телефон, ты спокойно сможешь показать ему экран с часами и оправдать себя: "Я просто хотел узнать, сколько минут осталось до конца контрольной" / "Я ждал, пока на часах будет 11:11, чтобы загадать желание (хорошо написать эту контрольную). Блин, нельзя ведь рассказывать, а то не сбудется... Ну вот, опять 2 получу!", или насколько хватит твоей фантазии и смекалки.</p>
                          <p>Функция "Звонок от мамы" позволит тебе ещё и отпроситься с урока! Просто скажи, что это важный звонок от мамы и тебе обязательно нужно ответить, и, когда доверчивый преподаватель разрешит покинуть кабинет, ты сможешь ещё и подсмотреть нужную информацию или решение задачи прямо в коридоре. Это того стоит!</p>
                        </div>
                    </div>
                    <div class="guide-page-section" id="anchor_2">
                        <h2>Как пользоваться защитой от учителя?</h2>
                        <div>
                          <p>Для начала убедись, что функция включена: если в Меню переключатель "Защита от учителя" зеленого цвета - всё хорошо, функция активирована, если же белого - нажми на него один раз, цвет изменится и защита заработает.
                          <img src="./img/guides/protect/2.jpg">
                          </p>
                          <p>Далее всё просто: в любом разделе приложения достаточно провести по экрану от правого края к центру и перед тобой появятся Часы или вымышленный Звонок от мамы.
                          <img src="./img/guides/protect/3.jpg">
                          </p>
                          <p>Если опасность миновала и учитель больше не угрожает забрать телефон или вызвать родителей в школу, то просто нажми на экран в <strong>левом верхнем углу</strong> - ты мгновенно вернёшься в тот раздел, в котором находились до вызова Защиты от учителя.
                          <img src="./img/guides/protect/1.jpg">
                          </p>
                        </div>
                    </div>
                    <div class="guide-page-section" id="anchor_3">
                        <h2>Как отключить защиту от учителя</h2>
                        <div>
                          <p>Отключить данную функцию можно прямо в Меню. Просто нажми один раз на переключатель "Защита от учителя". Если же захочется включить функцию обратно, то нажми на переключатель ещё раз.
                          <img src="./img/guides/protect/2.jpg">
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

</div>