<div class="modal goto-pro-modal" ui-if='formulasModal' ui-state='formulasModal'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" 
                ui-turn-off="formulasModal">&times;</button>
        <h4 class="modal-title">Калькуляторы формул</h4>
      </div>
      <div class="modal-body">
        <img src="./img/goto-pro/formulas.jpg">
        <p>
          Только в Pro-версии ты сможешь использовать удобные химические калькуляторы в разделе "Формулы". Это в разы удобнее обычного калькулятора!
        </p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="formulasModal" class="btn btn-default">Закрыть</button>
      </div>
    </div>
  </div>
</div>