<div class="modal goto-pro-modal" ui-if='molarModal' ui-state='molarModal'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" 
                ui-turn-off="molarModal">&times;</button>
        <h4 class="modal-title">Как найти молярную массу</h4>
      </div>
      <div class="modal-body">
        <img src="./img/goto-pro/molar.jpg">
        <p>
          В Pro-версии "Поиск молярных масс" будет выдавать не только готовую молярную массу, но и само вычисление, которое можно переписать в тетрадь, а еще пошагово объяснит, как ее найти для любого вещества, понятнее любого репетитора!
        </p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="molarModal" class="btn btn-default">Закрыть</button>
      </div>
    </div>
  </div>
</div>