<div class="modal goto-pro-modal" ui-if='protectModal' ui-state='protectModal'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" 
                ui-turn-off="protectModal">&times;</button>
        <h4 class="modal-title">У учителя больше нет шансов!</h4>
      </div>
      <div class="modal-body">
        <img src="./img/goto-pro/protect.jpg">
        <p>
          Защита в виде часов в обычной версии не всегда может быть эффективна: некоторые учителя бывают весьма придирчивы, но даже они не смогут обвинить Вас в списывании, когда увидят на экране входящий вызов от мамы. Покупка Pro-версии того стоит.
        </p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="protectModal" class="btn btn-default">Закрыть</button>
      </div>
    </div>
  </div>
</div>