<div class="modal goto-pro-modal" ui-if='solverModal' ui-state='solverModal'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" 
                ui-turn-off="solverModal">&times;</button>
        <h4 class="modal-title">Полное решение задач</h4>
      </div>
      <div class="modal-body">
        <img src="./img/goto-pro/solver.jpg">
        <p>
          Разблокируй полное решение и почувствуй всю мощь первого в мире решателя химических задач! Он по шагам распишет решение любой задачи в том виде, в котором его надо написать в тетрадь, будь то задача с реакцией, или даже задача на избытки-недостатки. Кроме этого, решатель задач сможет объяснить, что конкретно происходит в каждом шаге решения, так что ты сможешь не только списать, но и объяснить "свое" решение учителю! Все, что от тебя надо - это записать в решатель "дано" и "найти" задачи!
        </p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="solverModal" class="btn btn-default">Закрыть</button>
      </div>
    </div>
  </div>
</div>