<div ui-content-for="title">
  	<span>Ряд активности</span>
</div>
<div ui-content-for="left">
  <div ui-sref="tables" class="btn back-button">
    <i class="navbar-icon-left"></i>
  </div>
</div>
<div ui-content-for="right"></div>

<div class="scrollable" ng-swipe-right=''>
	<div class="scrollable-content" id="table">
		<table class="activities-table" style="margin: 0 auto;">
			<tr>
				<td style="padding-left: 34px">
					<div class="activities-table-element">Li</div>
					<div class="activities-table-element">Rb</div>
					<div class="activities-table-element">K</div>
					<div class="activities-table-element">Cs</div>
					<div class="activities-table-element">Ba</div>
					<div class="activities-table-element">Sr</div>
					<div class="activities-table-element">Ca</div>
					<div class="activities-table-element">Na</div>
					<div class="activities-table-element">Mg</div>
					<div class="activities-table-element">Be</div>
					<div class="activities-table-element">Al</div>
					<div class="activities-table-element">Mn</div>
					<div class="activities-table-element">Zn</div>
					<div class="activities-table-element">Cr</div>
					<div class="activities-table-element">Fe</div>
					<div class="activities-table-element">Cd</div>
					<div class="activities-table-element">Co</div>
					<div class="activities-table-element">Ni</div>
					<div class="activities-table-element">Sn</div>
					<div class="activities-table-element">Pb</div>
					<div class="activities-table-element hydrogen">(H)</div>
					<div class="activities-table-element">Cu</div>
					<div class="activities-table-element">Hg</div>
					<div class="activities-table-element">Ag</div>
					<div class="activities-table-element">Pt</div>
					<div class="activities-table-element">Au</div>
				</td>
				<td>
					<div class="table-arrow">
						<div class="table-arrow-line"></div>
						<div class="table-arrow-down"></div>
					</div>
					<div class="table-arrow">
						<div class="table-arrow-line"></div>
						<div class="table-arrow-down"></div>
					</div>
					<div class="table-arrow">
						<div class="table-arrow-line"></div>
						<div class="table-arrow-down"></div>
					</div>
					<div class="table-arrow">
						<div class="table-arrow-line"></div>
						<div class="table-arrow-down"></div>
					</div>
					<div class="table-arrow">
						<div class="table-arrow-line"></div>
						<div class="table-arrow-down"></div>
					</div>
					<!--
					<div class="table-text-right table-text-right-ru">
						<div class="table-text-right-icon rotate180">
							<i class="navbar-icon-left"></i>
						</div>
						<div class="table-text-right-content">
							Ослабление восстановительной способности металлов
						</div>
					</div>
					-->
				</td>
			</tr>
		</table>
	</div>
</div>

<div ui-view>
</div>