
	    	<!--div>
	    		<div ng-bind="element['numInTable']"></div>
	    		<h1 ng-bind="element['element']"></h1>
	    		<div ng-bind="element['atomMass']"></div>
	    	</div>
	    	<div ng-include="'partials/other/elementDescriptionMore.html'">
	    	</div-->
	    	<div class="element-desc-wrapper">
				<div class="element-desc-content" ui-outer-click="gotoTable()" ui-outer-click-if="isElementDescriptionCtrl">
					<i ng-click="gotoTable()" class="navbar-icon-close element-desc-close"></i>
					<div class="{{'element-desc-header ' + element['class'] + ' ' + element['subclass']}}">
						<div class="element-desc-symbol">{{element['element']}}</div>
						<div class="element-desc-name">{{element['name'][lang]}}</div>
						<div class="element-desc-number" ng-bind="element['id']"></div>

					</div>
					<div class="element-desc-body">


						<ul class="list-group">
							<li class="list-group-item" ng-if="element['period']">
								<p class="element-desc-list-name" translate>Период</p>
								<p class="element-desc-list-value">{{element['period']}}</p>
							</li>
							<li class="list-group-item" ng-if="element['group']">
								<p class="element-desc-list-name" translate>Группа</p>
								<p class="element-desc-list-value">{{element['group']}}</p>
							</li>
							<li class="list-group-item" ng-if="element['atomMass']">
								<p class="element-desc-list-name" translate>Атомная масса</p>
								<p class="element-desc-list-value">{{element['atomMass']}}</p>
							</li>
							<li class="list-group-item" ng-if="element['class']">
								<p class="element-desc-list-name" translate>Класс</p>
								<p class="element-desc-list-value">{{element['class']}}</p>
							</li>
							<li class="list-group-item" ng-if="element['subclass']">
								<p class="element-desc-list-name" translate>Подкласс</p>
								<p class="element-desc-list-value">{{element['subclass']}}</p>
							</li>
							<li class="list-group-item" ng-if="element['val']">
								<p class="element-desc-list-name" translate>Валентности</p>
								<p class="element-desc-list-value">
									<span ng-repeat="i in element['val']">
										{{i}}
									</span>
								</p>
							</li>
							<li class="list-group-item" ng-if="element['crystalStruct']">
								<p class="element-desc-list-name" translate>Кристаллическая решетка</p>
								<p class="element-desc-list-value">
									{{element['crystalStruct'][lang]}}
								</p>
							</li>
							<li class="list-group-item" ng-if="element['physColor']">
								<p class="element-desc-list-name" translate>Цвет</p>
								<p class="element-desc-list-value">{{element['physColor'][lang]}}</p>
							</li>
							<li class="list-group-item" ng-if="element['tempMelting']">
								<p class="element-desc-list-name" translate>Температура плавления</p>
								<p class="element-desc-list-value">
									{{element['tempMelting']}}
								</p>
							</li>
							<li class="list-group-item" ng-if="element['tempBoiling']">
								<p class="element-desc-list-name" translate>Температура кипения</p>
								<p class="element-desc-list-value">
									{{element['tempBoiling']}}
								</p>
							</li>
							<li class="list-group-item"  ng-if="element['elconf']">
								<p class="element-desc-list-name" translate>Электронная конфигурация</p>
								<p class="element-desc-list-value">
									<div>
										<span ng-repeat="i in element['elconf'] | divided">
											{{i.substring(0,2)}}<sup>{{i.substring(2)}}</sup>
										</span>
									</div>
									<!--div ng-bind-html="element['elconf']"></div-->
									<div class="btn btn-default" ng-click="showMore=!showMore" translate>Подробнее</div>
									<div ng-show="showMore" class="elconf-table-block-wrapper">
										<div class="elconf-table-block">
											<div class="energy-level-name" translate>
												Энергетические уровни
											</div>
											<div ng-repeat="i in elconf">
												<div class="energy-level-number">
													{{elconf.length - elconf.indexOf(i)}}
												</div>
												<div ng-repeat="j in i['orb']" class="line" >
													<div ng-repeat="l in j['o'] track by $index" class="elConfLine">
														{{l}}
													</div>
													<div class="elconf-divider" ng-if="j!==i['orb'][i['orb'].length-1]"><div class="elconf-divider-line"></div></div>
												</div>
											</div>
											<div class="energy-levels-lines">
												<div class="energy-levels-lines-s">s</div>
												<div class="energy-levels-lines-p">p</div>
												<div class="energy-levels-lines-d">d</div>
												<div class="energy-levels-lines-f">f</div>
												<div class="energy-levels-lines-orbitals" translate>Орбитали</div>
											</div>

											<!-- Блокировка электронной конфигурации и просьба перейти на Pro-версию -->
											<div ng-if="!isPurchased" class="elconf-goto-pro">
												<div class="elconf-goto-pro-content">
													<i class="fa fa-lock"></i>
													<div ng-if="!config.isParentsDesc" class="goto-pro-block-content">
														<div ui-sref="goto-pro" class="btn btn-primary goto-pro-bt" translate>Доступно в Pro-версии</div>
														<div ui-sref="goto-pro" class="more-about-pro-bt" translate>Другие преимущества Pro-версии</div>
													</div>
													<div ng-if="config.isParentsDesc" class="goto-pro-block-content">
														<div ui-sref="goto-pro-parents" class="btn btn-primary goto-pro-bt" translate>Доступно в Pro-версии</div>
														<div ui-sref="goto-pro-parents" class="more-about-pro-bt" translate>Другие преимущества Pro-версии</div>
													</div>					
												</div>
											</div>

										</div>
									</div>
								</p>
							</li>
							<li class="list-group-item" ng-if="element['elnegativity']">
								<p class="element-desc-list-name" translate>Электроотрицательность</p>
								<p class="element-desc-list-value">
									{{element['elnegativity']}}
								</p>
							</li>
							<li class="list-group-item" ng-if="element['discoverer']">
								<p class="element-desc-list-name" translate>Открыл</p>
								<p class="element-desc-list-value">
									{{element['discoverer'][lang]}}
								</p>
							</li>
						</ul>

					</div>
				</div>
			</div>
	  	</div>
