<div class="scrollable">
    <div class="scrollable-content" id="home-content">
        <div class="container-fluid section section-break">

            <div class="main-menu row container-fluid">
                <div class="menu-grid-item col-xs-12 col-sm-12 col-md-12">
                    <div class="button-big" ui-sref="solvingTasks">
                        <span class="icon icon-brain"></span>
                        <div class="tool-name">Решатель задач</div>
                    </div>
                </div>

                <div class="menu-grid-item col-xs-6 col-sm-4 col-md-4">
                    <a ui-sref="table" class="button-default">
                        <span class="icon icon-table"></span>
                        <div>Таблица<br> Менделеева</div>
                    </a>
                </div>
                <div class="menu-grid-item col-xs-6 col-sm-4 col-md-4">
                    <a ui-sref="solvingReactions" class="button-default">
                        <span class="icon icon-react"></span>
                        <div>Решение<br> реакции</div>
                    </a>
                </div>
                <div class="menu-grid-item col-xs-6 col-sm-4 col-md-4">
                    <a ui-sref="solvingChains" class="button-default">
                        <span class="icon icon-chains"></span>
                        <div>Цепочки<br> превращений</div>
                    </a>
                </div>
                <div class="menu-grid-item col-xs-6 col-sm-4 col-md-4">
                    <a ui-sref="theory" class="button-default">
                        <span class="icon icon-book"></span>
                        <div ng-if="!config.isParentsDesc">Шпоры<br> и таблицы</div>
                        <div ng-if="config.isParentsDesc">Теория<br> и таблицы</div>
                    </a>
                </div>
                <div class="menu-grid-item col-xs-6 col-sm-4 col-md-4">
                    <a ui-sref="alignmentCoefficients" class="button-default">
                        <span class="icon icon-coef"></span>
                        <div>Расстановка<br> коэффициентов</div>
                    </a>
                </div>
                <div class="menu-grid-item col-xs-6 col-sm-4 col-md-4">
                    <a ui-sref="molarMass" class="button-default">
                        <span class="icon icon-molar"></span>
                        <div>Найти<br> молярную массу</div>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>
