<div ng-include="'./partials/other/navbars/nav-menu-only.html'"></div>
<div ui-content-for="title">
	<span translate>Настройки</span>
</div>

<div class="scrollable">
	<div class="scrollable-content">
		<div class="thumbnail settings-thumbnail">
			<!-- <hr>
			<div class="form-group">
				<div class="row">
					<div class="col-xs-8 col-sm-9 col-md-10">
						<label>Защита от учителя</label>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2">
						<ui-switch ng-model="protect.mode" ng-change="protect.saveMode()" class="settings-switch"></ui-switch>
					</div>
				</div>
			</div>
			<hr>
			<!-- <div class="form-group">
				<div class="row">
					<div class="col-xs-8 col-sm-9 col-md-10">
						<label translate>Язык</label>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2">
						<select ng-options="lang.label for lang in langs track by lang.value"
					      ng-model="language" ng-change="changeLanguage()">

					    </select>
					</div>
				</div>
			</div>
			<hr>
			<div class="btn btn-default btn-block" translate>
				Восстановить покупки
			</div> -->
		</div>
		<!--
		<div class="thumbnail">
			<div class="settings-share-text">Расскажи о "Химии X10" своим друзьям!</div>
			<div class="settings-share row">
				<div class="col-xs-4 col-sm-4 col-md-4">
					<div class="btn btn-default btn-block">
						<i class="fa fa-facebook"></i>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4">
					<div class="btn btn-default btn-block">
						<i class="fa fa-vk"></i>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4">
					<div class="btn btn-default btn-block">
						<i class="fa fa-twitter"></i>
					</div>
				</div>
			</div>
		</div>
		-->
	</div>
</div>
