<div ui-content-for="title">
  	<span>Таблица Менделеева</span>
</div>
<div ui-content-for="left">
  <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
    <i class="navbar-icon-menu"></i>
  </div>
</div>
<div ui-content-for="right">
  <div class="btn" ui-sref="table.tableInfo">
    <i class="navbar-icon-info"></i>
  </div>
</div>

<div class="scrollable" ng-swipe-right="" ng-swipe-left="">

	<div class="scrollable-content" id="table">
	  	<div class="table">
	     		<dev id="groups" from-block="periods" count="18" dynamic-width>
		     		<div ng-repeat="i in group track by $index"
						 class="elInTable"
						 ng-bind="i"></div>
		     	</dev>

		     	<div class="tbl"
					 count="18"
					 dynamic-width>
					<div id="periods" class="table-child">
						<div ng-repeat="i in period track by $index" ng-bind="i"></div>
					</div>
					<div class="table-elements table-child">
						<div ng-repeat="row in table track by $index"
							 class="periodic-table-row">
							<a ng-click="showDescription(el)"
							   ng-repeat="el in row track by $index"
							   class="{{'elementContent elInTable ' + el['class'] + ' ' + el['subclass']}}"
							   ng-class="{empty: el['element'] == 'empty', lanactin: el['element'][2] == '-'}">

								<div class="table-element-number" ng-class="{empty: el['element'][2] == '-'}" ng-bind="el['id']"></div>
								<div class="table-element-symbol" ng-bind="el['element']"></div>
								<div class="table-element-name" ng-class="{empty: el['element'][2] == '-'}" ng-bind="el['name'][lang]"></div>
								<div class="table-element-mass" ng-class="{empty: el['element'][2] == '-'}" ng-bind="el['atomMass']"></div>

							</a>
						</div>
					</div>
		     	</div>
	     		<div ng-show="showLantinoids" class="lantanoids-row">
		     		<span class="ac-la-star" ng-click="showLantinoids=false;">
		     			<i class="navbar-icon-close"></i>
		     		</span>
					<div class="lantanoids-list" count="15" from-block="periods" dynamic-width>
						<a ng-click="showDescription(el)" ng-repeat="el in lanthanides track by $index" class="elInTable elementContent Лантаноиды">
							<div class="table-element-number" ng-bind="e['id']"></div>
							<div class="table-element-symbol" ng-bind="el['element']"></div>
							<div class="table-element-name" ng-bind="el['name'][lang]"></div>
							<div class="table-element-mass" ng-bind="el['atomMass']"></div>
						</a>
					</div>
		     	</div>
		     	<div ng-show="showActinoids" class="actinoids-row">
					<span class="ac-la-star" ng-click="showActinoids = false;">
						<i class="navbar-icon-close"></i>
					</span>
					<div class="actinoids-list" count="15" from-block="periods" dynamic-width>
						<a ng-click="showDescription(el)" ng-repeat="el in actinides" class="elInTable elementContent Актиноиды">
							<div class="table-element-number" ng-bind="e['id']"></div>
							<div class="table-element-symbol" ng-bind="el['element']"></div>
							<div class="table-element-name" ng-bind="el['name'][lang]"></div>
							<div class="table-element-mass" ng-bind="el['atomMass']"></div>
						</a>
					</div>
		     	</div>
			</div>
	  	<div ui-view>
	  	</div>
	</div>
</div>
