<div class="modal goto-pro-modal" ui-if='adsModal' ui-state='adsModal'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" 
                ui-turn-off="adsModal">&times;</button>
        <h4 class="modal-title">Больше никаких назойливых баннеров</h4>
      </div>
      <div class="modal-body">
        <img src="./img/goto-pro/ads.jpg">
        <p>
          В Pro-версии совершенно вся реклама исчезнет и больше не будет мозолить Вам глаза и отвлекать от занятий химией!
        </p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="adsModal" class="btn btn-default">Закрыть</button>
      </div>
    </div>
  </div>
</div>