<div class="modal goto-pro-modal" ui-if='balanceModal' ui-state='balanceModal'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" 
                ui-turn-off="balanceModal">&times;</button>
        <h4 class="modal-title">Улучшенный способ расстановки коэффициентов</h4>
      </div>
      <div class="modal-body">
        <img src="./img/goto-pro/balance.jpg">
        <p>
          В Pro-версии научиться расстановке коэффициентов методом электронного баланса будет совсем несложно.
        </p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="balanceModal" class="btn btn-default">Закрыть</button>
      </div>
    </div>
  </div>
</div>