<div class="modal goto-pro-modal" ui-if='reactModal' ui-state='reactModal'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" 
                ui-turn-off="reactModal">&times;</button>
        <h4 class="modal-title">Решение цепочек превращений</h4>
      </div>
      <div class="modal-body">
        <img src="./img/goto-pro/react.jpg">
        <p>
          Решение цепочек реакций - один из типов заданий, которые часто встречаются в любых контрольных. Pro-версия "Химии X10" поможет и с этим!
        </p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="reactModal" class="btn btn-default">Закрыть</button>
      </div>
    </div>
  </div>
</div>