<div ui-content-for="left">
  <div ui-sref="theory" class="btn back-button">
    <i class="navbar-icon-left"></i>
  </div>
</div>
<div ui-content-for="right"></div>
<div ui-content-for="title">
  <div>Шпоры</div>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="container-fluid section section-break cribs-page">

      <div class="list-group">
      	<a ui-sref="cribsInorganic" class="list-group-item">
      		Неорганическая химия
      		<i class="fa fa-chevron-right pull-right"></i>
      	</a>
      	<a ui-sref="cribsOrganic" class="list-group-item">
      		Органическая химия
      		<i class="fa fa-chevron-right pull-right"></i>
      	</a>
      </div>
    </div>
  </div>
</div>
