<div ui-content-for="left">
  <div ui-sref="theory" class="btn back-button">
    <i class="navbar-icon-left"></i>
  </div>
</div>
<div ui-content-for="right"></div>
<div ui-content-for="title">
  <div>Таблицы</div>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="container-fluid section section-break cribs-page">

      <div class="list-group">
      	<a ui-sref="solubilityTable" class="list-group-item">
      		Таблица растворимости
      		<i class="fa fa-chevron-right pull-right"></i>
      	</a>   
        <a ui-sref="activitiesTable" class="list-group-item">
          Ряд активности металлов
          <i class="fa fa-chevron-right pull-right"></i>
        </a>
        <a ui-sref="table" class="list-group-item">
          Таблица Менделеева
          <i class="fa fa-chevron-right pull-right"></i>
        </a>   	
      </div>
    </div>
  </div>
</div>