<div class="modal goto-pro-modal" ng-if='config.modal.block.show'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ng-click="config.modal.block.show = false">&times;</button>
        <h4 class="modal-title">{{config.modal.title}}</h4>
      </div>

      <div class="modal-body" ng-bind-html="config.modal.content | toTrusted"></div>

      <div class="modal-footer">
        <button ng-click="config.modal.block.show = false" class="btn btn-default">Закрыть</button>
      </div>
    </div>
  </div>
</div>