<div class="element-desc-wrapper  table-denotation">
	<div class="element-desc-content">
		<i ui-sref="solubilityTable" class="navbar-icon-close element-desc-close"></i>
		<div class="element-desc-header">
			Обозначения
		</div>
		<div class="element-desc-body">
			<div class="table-info-color-row">
				<div class="table-info-box P">Р</div>
				<div class="table-info-box-name">Вещество растворимо</div>
			</div>
			<div class="table-info-color-row">
				<div class="table-info-box H">Н</div>
				<div class="table-info-box-name">Вещество нерастворимо</div>
			</div>
			<div class="table-info-color-row">
				<div class="table-info-box M">М</div>
				<div class="table-info-box-name">Вещество малорастворимо</div>
			</div>
			<div class="table-info-color-row">
				<div class="table-info-box minus">-</div>
				<div class="table-info-box-name">Вещество не получено</div>
			</div>
		</div>
	</div>
</div>