<div class="element-desc-wrapper  table-denotation">
	<div class="element-desc-content" ui-outer-click="gotoTable()" ui-outer-click-if="isTableInfoController">
		<i ng-click="gotoTable()" class="navbar-icon-close element-desc-close"></i>
		<div class="element-desc-header">
			Обозначения
		</div>
		<div class="element-desc-body">

					<div class="table-info-color-row">
						<div class="table-info-box Щелочные металлы"></div>
						<div class="table-info-box-name">Щелочные металлы</div>
					</div>
					<div class="table-info-color-row">
						<div class="table-info-box Щёлочноземельные металлы"></div>
						<div class="table-info-box-name">Щёлочноземельные металлы</div>
					</div>
					<div class="table-info-color-row">
						<div class="table-info-box Переходные металлы"></div>
						<div class="table-info-box-name">Переходные металлы</div>
					</div>
					<div class="table-info-color-row">
						<div class="table-info-box Полупроводники"></div>
						<div class="table-info-box-name">Полупроводники</div>
					</div>
					<div class="table-info-color-row">
						<div class="table-info-box Полуметаллы"></div>
						<div class="table-info-box-name">Полуметаллы</div>
					</div>
					<div class="table-info-color-row">
						<div class="table-info-box Галогены"></div>
						<div class="table-info-box-name">Галогены</div>
					</div>
					<div class="table-info-color-row">
						<div class="table-info-box Инертные газы"></div>
						<div class="table-info-box-name">Инертные газы</div>
					</div>
					<div class="table-info-color-row">
						<div class="table-info-box Лантаноиды">*</div>
						<div class="table-info-box-name">Лантаноиды</div>
					</div>
					<div class="table-info-color-row">
						<div class="table-info-box Актиноиды">**</div>
						<div class="table-info-box-name">Актиноиды</div>
					</div>

		</div>
	</div>
</div>